<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CurubaTime</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="Tables are the backbone of almost all web applications.">
<meta name="msapplication-tap-highlight" content="no">
<link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div
		class="applikation app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<div th:insert="topbar-nav"></div>
		<div class="app-main">
			<div th:insert="nav"></div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-stopwatch icon-gradient bg-happy-itmeo"> </i>
								</div>
								<div>
									 Arbeitszeit erfassen
								<div class="page-title-subheading">Bearbeiten oder Erstellen Sie Arbeitszeits-Einträge.</div>
								</div>
							</div>
							<div class="page-title-actions">
								<a href="/arbeitszeit"><button type="button" data-toggle="tooltip"
										title="Zurück zur Übersicht" data-placement="bottom"
										class="btn-shadow mr-3 btn btn-dark">
										<i class="fa fa-eye"></i>
									</button></a>

							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-lg-12">
							<div class="main-card mb-3 card">
								<div class="card-body">
								
									<form style="display: inline;" action="#"
										th:action="${postAction}" method="post"
										th:object="${arbeitszeitDetail}">
										<div class="form-row">

											<input type="hidden" name="arbeitszeitDetail.id"
												th:value="*{id}" />
											<input th:if="${isadmin == null}" class="form-control"
														type="hidden" name="arbeitszeitDetail.arbeiterid"
														th:value="*{arbeiterid}" />
											<div th:if="${isadmin != null}" class="col-md-6">
												<div class="position-relative form-group">
													<label>Mitarbeiter-ID:</label> <input class="form-control"
														type="number" name="arbeitszeitDetail.arbeiterid"
														th:value="*{arbeiterid}" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="position-relative form-group">
													<label>Kunde:</label> <select class="form-control"
														name="arbeitszeitDetail.eintrag" >
														<option selected="selected" th:text="*{eintrag}" th:value="*{eintrag}"></option>
														<option th:each="kostenstelle : ${projekte}" th:text="${kostenstelle.getName()}" th:value="${kostenstelle.getName()}">Blau</option>
														</select>
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-md-6">
												<div class="position-relative form-group">
									
													<label>Arbeitszeit:</label> <input class="form-control"
														type="number" step=".25" name="arbeitszeitDetail.arbeitszeit"
														th:value="*{arbeitszeit}" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="position-relative form-group">
													<label>Datum:</label> <input class="form-control"
														type="date" name="arbeitszeitDetail.datum"
														th:value="*{datum}" />
												</div>
											</div>
										</div>
										<a href="/"><button class="mt-1 btn btn-primary"
												type="submit">
												<i class="fas fa-save"></i> Speichern
											</button></a>
									</form>
									<a style="display: inline;" href="/arbeitszeit"><button
											class="mt-1 btn btn-warning">
											<i class="fas fa-undo"></i> Abbrechen
										</button></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:insert="footer"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../assets/scripts/main.js"></script>
</body>
</html>