<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CurubaTime</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="Tables are the backbone of almost all web applications.">
<meta name="msapplication-tap-highlight" content="no">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="exporter"></div>
<script>
jQuery(function($){
	$('.monatsdownload').click(function(){
$(".monatstabelle").tableHTMLExport({

	  // csv, txt, json, pdf
	  type:'csv',
	  filename: 'monatsuebersicht.csv'
	  
	});
	});
	
	$('.tagesdownload').click(function(){
		$(".tagestabelle").tableHTMLExport({

			  // csv, txt, json, pdf
			  type:'csv',
			  filename: 'tagesuebersicht.csv'
			  
			});
			});
	
	$('.allesdownload').click(function(){
		$(".allestabelle").tableHTMLExport({

			  // csv, txt, json, pdf
			  type:'csv',
			  filename: 'allesuebersicht.csv'
			  
			});
			});
});
</script>
	<div
		class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header applikation">
		<div th:insert="topbar-nav"></div>
		<div class="app-main">
			<div th:insert="nav"></div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-stopwatch icon-gradient bg-happy-itmeo"> </i>
								</div>
								<div>
									Erfasste Arbeitszeit
									<div class="page-title-subheading">Übersicht aller
										Einträge nach Zeitperiode.</div>
								</div>
							</div>
							<div class="page-title-actions">
								<a href="/arbeitszeit/edit">
									<button type="button" data-toggle="tooltip"
										title="Eintrag erfassen" data-placement="bottom"
										class="btn-shadow mr-3 btn btn-dark">
										<i class="fa fa-plus"></i>
									</button>
								</a>

							</div>
						</div>
					</div>
					<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0" aria-selected="false">
                                <span>Heute</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1" aria-selected="false">
                                <span>Dieser Monat</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2" aria-selected="true">
                                <span>Alle Einträge</span>
                            </a>
                        </li>
                    </ul>
					<div class="row">

						<div class="col-lg-12">
							<div class="main-card mb-3 card">
							<div class="tab-content">
							<div class="tab-pane tabs-animation fade active show" id="tab-content-0" role="tabpanel">
								<div class="card-body">
									<h5 class="card-title">Heute</h5>
								    <i class="pe-7s-cloud-download tagesdownload" style="cursor:pointer;position: absolute;right: 20px;font-size: 2em;top: 10px;"></i>
									

									<table class="mb-0 table table-hover tabelle-heute tagestabelle">

										<thead>
											<tr>
												<th th:if="${isadmin != null}">Arbeiter ID</th>
												<th>Kunde</th>
												<th>Stunden</th>
												<th>Datum</th>
												<th>Aktionen</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${isadmin == null}"  th:each="arbeitszeit : ${list}">
											
												<td th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd. MMM yyyy')}">01.01.2021</td>
												<td>
												<div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
											<tr th:if="${isadmin != null}" th:each="arbeitszeit : ${listadmin}">
											
												<td scope="row" th:text="${arbeitszeit.getArbeiterid()}">1</td>
												<td th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd. MMM yyyy')}">01.01.2021</td>
												<td>
												<div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
										</tbody>
									</table>
									
									
								</div>
								</div>
								<div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
								<div class="card-body">
									<h5 class="card-title">Dieser Monat</h5>
									<i class="pe-7s-cloud-download monatsdownload" style="cursor:pointer;position: absolute;right: 20px;font-size: 2em;top: 10px;"></i>
									

									<table class="mb-0 table table-hover tabelle-monat monatstabelle">

										<thead>
											<tr>
												<th th:if="${isadmin != null}" scope="col">Arbeiter ID</th>
												<th scope="col">Kunde</th>
												<th scope="col">Stunden</th>
												<th scope="col">Datum</th>
												<th scope="col">Aktionen</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${isadmin == null}" th:each="arbeitszeit : ${listmonat}">
											
												<td scope="row" th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd. MMM yyyy')}">01.01.2021</td>
												<td><div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
											<tr th:if="${isadmin != null}" th:each="arbeitszeit : ${listmonatadmin}">
											
												<th scope="row" th:text="${arbeitszeit.getArbeiterid()}">1</th>
												<td th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd. MMM yyyy')}">01.01.2021</td>
												<td><div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
										</tbody>
									</table>
									
									
								</div>
								</div>
								<div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
								<div class="card-body">
									<h5 class="card-title">Alle Einträge</h5>
									<i class="pe-7s-cloud-download allesdownload" style="cursor:pointer;position: absolute;right: 20px;font-size: 2em;top: 10px;"></i>
									

									<table class="mb-0 table table-hover tabelle-alle allestabelle">

										<thead>
											<tr>
												<th th:if="${isadmin != null}">Arbeiter ID</th>
												<th>Kunde</th>
												<th>Stunden</th>
												<th>Datum</th>
												<th>Aktionen</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${isadmin == null}" th:each="arbeitszeit : ${alle}">
											
												<td th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd-MMM-yyyy')}"></td>
												<td><div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
											<tr th:if="${isadmin != null}" th:each="arbeitszeit : ${alleadmin}">
											
												<td scope="row" th:text="${arbeitszeit.getArbeiterid()}">1</td>
												<td th:text="${arbeitszeit.getEintrag()}">Ding 1</td>
												<td th:text="${arbeitszeit.getArbeitszeit()} + ' h'">99</td>
												<td th:text="${#dates.format(arbeitszeit.getDatum(), 'dd. MMM yyyy')}">01.01.2021</td>
												<td><div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/arbeitszeit/edit?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/arbeitszeit/delete?id=' + arbeitszeit.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div></td>

											</tr>
										</tbody>
									</table>
									
									
								</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:insert="footer"></div>
				
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../assets/scripts/main.js"></script>
</body>
</html>