<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="app-container app-theme-white body-tabs-shadow" th:fragment="not-loggedin">
        <div class="app-container">
            <div class="h-100 bg-plum-plate bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="app-logo-inverse mx-auto mb-3" style="height:100px;width:119px;background: url(assets/images/logo-inversed-curuba.svg); background-repeat:no-repeat;"></div>
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2" style="margin-bottom: 20px;">
                                            <span>Sie sind nicht eingeloggt!</span><br>
                                        </h4>
                                    </div>
                                    <h6 style="text-align: center;">Rufen Sie bitte die Login-Seite auf damit Sie sich in CurubaTime einoggen können.</h6>

                                    <th:block xmlns:th="http://www.thymeleaf.org">
                                    <div class="modal-footer clearfix" style="margin: 1rem -1rem -1rem -1rem;">
                                    <div style="margin: auto;">
                                        <a href="/login"><button class="btn btn-primary btn-lg">Einloggen</button></a>
                                    </div></div>
                                    </th:block>
                                </div>
                                
                            </div>
                        </div>
                        <div class="text-center text-white opacity-8 mt-3">© CurubaTime 2021</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </th:block>