<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CurubaTime</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="Tables are the backbone of almost all web applications.">
<meta name="msapplication-tap-highlight" content="no">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div
		class="applikation app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<div th:insert="topbar-nav"></div>
		<div class="app-main">
			<div th:insert="nav"></div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-plane icon-gradient bg-happy-itmeo"> </i>
								</div>
								<div>
									Sollzeitenübersicht
									<div class="page-title-subheading">Übersicht aller
										Sollzeiten der Applikation CurubaTime.</div>
								</div>
							</div>
							<div class="page-title-actions">
								<a href="/sollzeit/bearbeiten">
									<button type="button" data-toggle="tooltip"
										title="Sollzeiten erfassen" data-placement="bottom"
										class="btn-shadow mr-3 btn btn-dark">
										<i class="fas fa-plus"></i>
									</button>
								</a>

							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-lg-12">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">Sollzeiten erfassen</h5>
									
							

									<table class="mb-0 table table-hover">

										<thead>
											<tr>
												<th th:if="${isadmin != null}">Jahr</th>
												<th th:if="${isadmin != null}">Monat</th>
												<th th:if="${isadmin != null}">Arbeitstage</th>
												<th th:if="${isadmin != null}">Sollzeit</th>
													<th th:if="${isadmin != null}">Aktionen</th>
											</tr>
										</thead>
										<tbody>
											
											<tr th:if="${isadmin != null}" th:each="Sollzeit : ${listadmin}">
												<td scope="row" th:text="${Sollzeit.getYear()}">Jahr</td>
												<td scope="row" th:text="${Sollzeit.getMonth()}">Monat</td>
												<td scope="row" th:text="${Sollzeit.getWorkdays()}">Arbeitstage</td>
												<td scope="row" th:text="${Sollzeit.getSollzeit()}">Sollzeit</td>
												<td><div role="group" class="btn-group-sm btn-group">
												
												<!--  <button th:action="${postAction}" th:if="${isadmin != null}" type="submit" class="btn-shadow btn btn-success"><a th:action="${postAction}"
													 style="color:white;"><i class="fas fa-check"></i></a></button>-->
												<button type="button" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/sollzeit/bearbeiten?id=' + Sollzeit.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
														</div>
														</td>

											</tr>
										</tbody>
									</table>
									
									
							</div>
						</div>
					</div>
				</div></div>
				<div th:insert="footer"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="assets/scripts/main.js"></script>
</body>
</html>