<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CurubaTime</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="description"
	content="Tables are the backbone of almost all web applications.">
<meta name="msapplication-tap-highlight" content="no">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div
		class="applikation app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
		<div th:insert="topbar-nav"></div>
		<div class="app-main">
			<div th:insert="nav"></div>
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="app-page-title">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="pe-7s-users icon-gradient bg-happy-itmeo"> </i>
								</div>
								<div>
									Benutzerübersicht
									<div class="page-title-subheading">Übersicht aller
										Benutzer der Applikation CurubaTime.</div>
								</div>
							</div>
							<div class="page-title-actions">
								<a href="/benutzer/bearbeiten">
									<button type="button" data-toggle="tooltip"
										title="Benutzer erfassen" data-placement="bottom"
										class="btn-shadow mr-3 btn btn-dark">
										<i class="fas fa-user-plus"></i>
									</button>
								</a>

							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-lg-12">
							<div class="main-card mb-3 card">
								<div class="card-body">
									<h5 class="card-title">Admin Backend</h5>

									<table class="mb-0 table table-hover">

										<thead>
											<tr>
												<th>ID</th>
												<th>Benutzername</th>
												<th>Pensum</th>
												<th>Ferien</th>
													<th>Aktionen</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${list}">
												<td scope="row" th:text="${user.getId()}">1</td>
												<td scope="row" th:text="${user.getName()}">Klaus</td>
												<td scope="row" th:text="${user.getPensum}"></td>
												<td scope="row" th:text="${user.getFerien}"></td>
												<td>
												<div role="group" class="btn-group-sm btn-group">
                                           <button type="submit" class="btn-shadow btn btn-primary"><a href=""
													th:href="${'/benutzer/bearbeiten?id=' + user.getId()}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                                           <button type="button" class="btn-shadow btn btn-danger"><a href=""
													th:href="${'/benutzer/loeschen?id=' + user.getId()}" style="color:white;"><i class="fas fa-trash-alt"></i></a></button>
                                        </div>
											</td>

											</tr>
										</tbody>
									</table>
									
							</div>
						</div>
					</div>
				</div></div>
				<div th:insert="footer"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="assets/scripts/main.js"></script>
</body>
</html>